<h1>新規登録</h1>
<%= form_with model: @user, local: true do |frm| %>
  <p>
    お名前：
    <%= frm.text_field :name %>
  </p>
  <p>
    年齢：
    <%= frm.text_field :age %>
  </p>
  <%= frm.submit "送信" %>
<% end %>